/* setting default styles, margin and padding for all the elements */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* html customizing */
:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
    --clr-neon: hsl(327 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

/* header tag customizing */
#particles-js {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/index/header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

/* customizing header <h1> element */
#particles-js h1 {
    font-family: "Sacramento", serif;
    font-size: 12rem;
    font-weight: 500;
    color: rgba(235, 232, 232, 0.966);
    width: 90%;
    line-height: 10rem;
    letter-spacing: 0.2rem;
    position: absolute;
    left: 55%;
    margin-left: 7%;
    top: 30%;
    text-shadow: 0 0.3rem 0.4rem rgba(176, 187, 187, 0.479);
    transform: translate(-50%,-50%);
    pointer-events: none;
}

/* customizing header <h1> element's <span> tag */
#particles-js span {
    width: 90%;
    position: absolute;
    margin-left: 7%;
    right: 19%;
}

/* Creating neon button */
.neon-button {
    font-size: 2rem;
    font-family: "Baloo Da 2", cursive;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    position: absolute;
    text-align: center;
    margin-right: 30%;
    margin-bottom: 3rem;
    margin-top: 35rem;
    right: 14.580%;
    top: 25%;

    /* glowing effect on text */
    text-shadow: 
    0 0 0.205em hsl(0 0% 100% / 0.5),
    0 0 0.35em var(--clr-neon);

    /* glowing effect on outer box/border */
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
}

/* glow reflextion on the ground */
.neon-button::before {
    content: "";
    pointer-events: none;
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    /* adding the glow on outside reflextion/shadow */
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

/* extra glow effect on button - will show after hover because opacity is 0 */
.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

/* hover */
.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
    background-color: var(--clr-neon);
    box-shadow: 0 0 2em 0.5em var(--clr-neon)
}

/* glow effect on ground after hover - showing after hover because opacity is 1*/
.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

/* glow effect on button after hover - showing after hover because opacity is 1*/
.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

/* creating glitch */
#particles-js h2 {
    text-align: center;
    background-color: rgba(248, 241, 241, 0.521); 
    height: 0.3em;
    width: 43.5em;

    position: absolute;
    left: 24%;
    margin-left: 7%;
    top: 53%;
    margin-top: 30%;
    
    /*Create overlap*/
    margin: 0;
    line-height: 10;
    opacity: 0.4;
    /* filter: blur(); */
    
    /*Animation*/
    animation: glitch1 2.5s infinite;
  }

#particles-js h2:nth-child(2) {
  background-color: #67f3da;
  animation: glitch2 2.5s infinite;
}

#particles-js h2:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }

/*Keyframes for glitch1, glitch2, glitch3*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}


/*Keyframes*/

@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
@keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }